@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDIqapSCOBt_aeQQ7ftydoa09eDukw.ttf) format('truetype');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDI1apSCOBt_aeQQ7ftydoaMWQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDIqapSCOBt_aeQQ7ftydoa0reHukw.ttf) format('truetype');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDIqapSCOBt_aeQQ7ftydoa0gebukw.ttf) format('truetype');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDIqapSCOBt_aeQQ7ftydoa05efukw.ttf) format('truetype');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jura/v24/z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7auh.ttf) format('truetype');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jura/v24/z7NOdRfiaC4Vd8hhoPzfb5vBTP2D6quh.ttf) format('truetype');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jura/v24/z7NOdRfiaC4Vd8hhoPzfb5vBTP266quh.ttf) format('truetype');
}
:root {
  --light: #fff;
  --dark: #0a0404;
  --dark1: hsla(345, 5%, 36%, 0.5);
  --dark2: rgba(0, 0, 0, 0.7);
  --blue: hsl(326, 91%, 52%);
  --blue-alter: hsl(326, 61%, 52%);
  --blue-light: hsla(326, 61%, 52%, 0.6);
  --blue-light2: hsla(326, 61%, 52%, 0.2);
  --lh: 150%;
  --font1: 'Bai Jamjuree', sans-serif;
  --font2: 'Jura', sans-serif;
  --transition: all 0.25s linear;
  --gap-lg: 100px;
  --gap-md: 50px;
  --gap-sm: 20px;
  --gap-xsm: 10px;
}
@media (max-width: 768px) {
  :root {
    --gap-lg: 50px;
    --gap-md: 30px;
    --gap-sm: 15px;
  }
}
.text-center {
  text-align: center;
}
._lock {
  overflow: hidden;
}
.html-blocks-ua-car-packages2 {
  font-family: var(--font1);
  font-size: 16px;
  line-height: var(--lh);
}
@media (max-width: 768px) {
  .html-blocks-ua-car-packages2 {
    font-size: 14px;
  }
}
.html-blocks-ua-car-packages2 [class*=__container] {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.html-blocks-ua-car-packages2 .heading {
  font-size: 48px;
  line-height: var(--lh);
}
@media (max-width: 768px) {
  .html-blocks-ua-car-packages2 .heading {
    font-size: 35px;
  }
}
.html-blocks-ua-car-packages2 .heading-2 {
  font-size: 38px;
  line-height: var(--lh);
}
@media (max-width: 768px) {
  .html-blocks-ua-car-packages2 .heading-2 {
    font-size: 28px;
  }
}
.html-blocks-ua-car-packages2 .colored {
  color: var(--blue);
}
.html-blocks-ua-car-packages2 .btn_light {
  display: table;
  padding: 20px 40px;
  font-size: 20px;
  text-decoration: none;
  color: var(--light);
  border: 1px solid var(--light);
}
.html-blocks-ua-car-packages2 .btn {
  color: var(--light);
  text-decoration: none;
  background: var(--blue-light);
  padding: 16px 80px;
  display: inline-block;
  font-size: 14px;
  line-height: var(--lh);
  border: 1px solid var(--light);
  transition: var(--transition);
  transform: skew(-21deg);
}
.html-blocks-ua-car-packages2 .btn:focus,
.html-blocks-ua-car-packages2 .btn:visited {
  color: var(--light);
  text-decoration: none;
}
.html-blocks-ua-car-packages2 .btn:hover {
  background-color: var(--blue-alter);
  color: var(--light);
  text-decoration: none;
}
.html-blocks-ua-car-packages2 .btn span {
  position: relative;
  display: inline-block;
  transform: skew(21deg);
  color: inherit;
}
.html-blocks-ua-car-packages2 .btn_active {
  background: var(--blue);
  border: 1px solid var(--blue);
}
@media (max-width: 768px) {
  .html-blocks-ua-car-packages2 .btn {
    padding: 16px 60px;
  }
}
.html-blocks-ua-car-packages2 .font2 {
  font-family: var(--font2);
}
.html-blocks-ua-car-packages2 .text-highlight {
  color: var(--blue);
}
.html-blocks-ua-car-packages2 .mb4 {
  margin-bottom: 40px;
}
.html-blocks-ua-car-packages2 .contact-form {
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.html-blocks-ua-car-packages2 .contact-form p {
  margin-bottom: 15px;
}
.html-blocks-ua-car-packages2 .contact-form input {
  width: 100%;
  display: block;
  padding: 10px;
  color: var(--dark1);
  border: 1px solid var(--dark1);
}
.html-blocks-ua-car-packages2 .contact-form input[type="submit"] {
  background-color: var(--dark1);
  color: var(--light);
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 20px;
}
.html-blocks-ua-car-packages2 .custom-form {
  padding: 10px 20px;
  border: 1px solid var(--dark1);
}
.html-blocks-ua-car-packages2 .custom-form button[type="submit"] {
  padding: 10px 40px;
  background-color: var(--dark1);
  color: var(--light);
  margin-top: 10px;
  font-family: var(--font2);
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px auto 10px;
  text-align: center;
  cursor: pointer;
  border: none;
}
.html-blocks-ua-car-packages2 .custom-form button[type="submit"].btn_colored {
  background-color: var(--blue);
}
.html-blocks-ua-car-packages2 .custom-form iframe {
  width: 100%;
  display: block;
  min-height: 315px;
}
.html-blocks-ua-car-packages2 .custom-form ul {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.html-blocks-ua-car-packages2 .custom-form .infusion-field {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 7px;
}
.html-blocks-ua-car-packages2 .custom-form .infusion-field input {
  width: 100%;
  padding: 10px;
  display: block;
  border: 1px solid var(--dark1);
}
.html-blocks-ua-car-packages2 .custom-form .infusion-field select {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--light);
  border: 1px solid var(--dark1);
}
.html-blocks-ua-car-packages2 .custom-form .infusion-field input[type="radio"],
.html-blocks-ua-car-packages2 .custom-form .infusion-field input[type="checkbox"] {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
}
.html-blocks-ua-car-packages2 .custom-form .infusion-field .options-container {
  display: flex;
  flex-direction: column;
}
.html-blocks-ua-car-packages2 .group {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 7px;
}
.html-blocks-ua-car-packages2 .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark1);
  z-index: 1050;
  transition: var(--linear);
}
.html-blocks-ua-car-packages2 .modal-backdrop:not(.active) {
  display: none;
}
.html-blocks-ua-car-packages2 .modal {
  padding-right: 17px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100vw;
  height: 100vh;
}
.html-blocks-ua-car-packages2 .modal-dialog {
  width: 100%;
  max-width: 50rem;
  min-height: calc(100% - 3.5rem);
  margin: 1.75rem auto;
  /* background-color: red; */
  position: relative;
  /* left: 50%; */
  display: flex;
  align-items: center;
}
.html-blocks-ua-car-packages2 .modal-content {
  border-radius: 2rem;
  padding: 4rem;
  box-sizing: border-box;
  border-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: none;
}
.html-blocks-ua-car-packages2 .modal-content .close-modal {
  text-decoration: none;
  font-size: 40px;
  margin-left: auto;
  display: table;
  color: var(--black);
  margin-bottom: var(--gap-sm);
}
@media (max-width: 768px) {
  .html-blocks-ua-car-packages2 .modal-content {
    padding: 20px;
  }
}
.important {
  color: red;
  font-weight: 600;
}
.html-blocks-ua-car-packages2 {
  background-color: var(--dark);
  padding-top: var(--gap-md);
  padding-bottom: var(--gap-md);
  border-top: 4px solid var(--light);
  color: var(--light);
  background: linear-gradient(90deg, #282826, var(--dark));
}
.html-blocks-ua-car-packages2__logo {
  display: table;
  margin-inline: auto;
  margin-bottom: var(--gap-xsm);
  width: 100%;
  max-width: 350px;
}
.html-blocks-ua-car-packages2__subheading {
  text-transform: uppercase;
  margin-bottom: var(--gap-md);
}
.html-blocks-ua-car-packages2__insertion {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xsm);
  margin-bottom: var(--gap-md);
  justify-content: center;
}
.html-blocks-ua-car-packages2__insertion iframe {
  display: block;
  width: 100%;
  flex: 0 1 500px;
}
.html-blocks-ua-car-packages2__video {
  display: block;
  width: 100%;
  max-width: 600px;
  flex: 0 1 600px;
  object-fit: cover;
}
.html-blocks-ua-car-packages2__icons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  justify-content: center;
  margin-bottom: var(--gap-md);
}
.html-blocks-ua-car-packages2__icons img {
  width: 100%;
  max-width: 150px;
  border: 1px solid var(--light);
  padding: var(--gap-xsm);
}
.html-blocks-ua-car-packages2__holder {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  justify-content: center;
}
.html-blocks-ua-car-packages2__item {
  width: 100%;
  max-width: 500px;
  padding: var(--gap-md);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
  box-shadow: 0px 0px 5px var(--dark1);
  box-sizing: border-box;
}
.html-blocks-ua-car-packages2__heading {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  line-height: var(--lh);
  margin-bottom: var(--gap-sm);
}
.html-blocks-ua-car-packages2__feature {
  text-align: center;
  background-color: var(--blue);
  padding: var(--gap-xsm);
  border-radius: 5px;
  margin: 0;
  margin-bottom: var(--gap-sm);
}
.html-blocks-ua-car-packages2__ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.html-blocks-ua-car-packages2__li:not(:last-child) {
  margin-bottom: var(--gap-xsm);
}
.html-blocks-ua-car-packages2__li::before {
  content: attr(data-count);
  padding: var(--gap-xsm);
  margin-right: var(--gap-xsm);
  width: 15px;
  height: 15px;
  line-height: 100%;
  text-align: center;
  border-radius: 50%;
  background-color: var(--blue);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: content-box;
}
.html-blocks-ua-car-packages2__desc {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  text-align: center;
}
.html-blocks-ua-car-packages2__title {
  margin: 0;
  font-size: 20px;
  line-height: var(--lh);
  font-weight: bold;
}
@media (max-width: 1160px) {
  .html-blocks-ua-car-packages2__insertion {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xsm);
    margin-bottom: var(--gap-md);
    justify-content: center;
    align-items: center;
  }
  .html-blocks-ua-car-packages2__insertion iframe {
    flex: 1 1 100%;
  }
  .html-blocks-ua-car-packages2__video {
    display: block;
    width: 100%;
    max-width: unset;
    flex: 1 1 100%;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .html-blocks-ua-car-packages2__icons img {
    max-width: 100px;
  }
}
/*# sourceMappingURL=styles2022.css.map */